@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: 216 100% 98.04%;
    --foreground: 213.6 100% 4.9%;

    --primary: 214.12 100% 50%;
    --primary-foreground: 0 0% 100%;

    --card: 216 100% 98.04%;
    --card-foreground: 213.6 100% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 213.6 100% 4.9%;

    --secondary: 214.74 100% 92.55%;
    --secondary-foreground: 216 100% 0.98%;

    --muted: 213.6 100% 95.1%;
    --muted-foreground: 0 0% 40%;

    --accent: 213.6 100% 95.1%;
    --accent-foreground: 214.12 100% 50%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 90.2%;
    --input: 0 0% 90.2%;
    --ring: 214.12 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    /* Name: custom color palette
     Author: Ilias Ism
     URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #02aab0, #00cdac);

    --background: 193 63.699999999999996% 2.8%;
    --foreground: 193 9.8% 96.75%;

    --muted: 193 49% 10.5%;
    --muted-foreground: 193 9.8% 53.5%;

    --popover: 193 45.4% 4.55%;
    --popover-foreground: 193 9.8% 96.75%;

    --card: 193 45.4% 4.55%;
    --card-foreground: 193 9.8% 96.75%;

    --border: 193 49% 10.5%;
    --input: 193 49% 10.5%;

    --primary: 193 98% 35%;
    --primary-foreground: 193 9.8% 96.75%;

    --secondary: 193 49% 10.5%;
    --secondary-foreground: 193 9.8% 96.75%;

    --accent: 193 49% 10.5%;
    --accent-foreground: 193 9.8% 96.75%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 193 9.8% 96.75%;

    --ring: 193 98% 35%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dotPattern {
  background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
  background-size: 25px 25px;
}

.use-automation-zoom-in {
  animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
